mixin lista-mc-items(header,values,href)   
    .notification
        .cat-listmc-container
            .cat-listmc-action-container
                .empty 
                .empty 
                .empty
            .cat-listmc-columns-container
                -let h= header;
                .div
                each i in h
                    .div=i
    each j,r in values
        .notification
            .cat-listmc-container
                - let id_vis='btn-'+r + '-listamc.vis'
                - let id_mod='btn-'+r + '-listamc.upd'
                - let id_can='btn-'+r + '-listamc.del.shortcat'
                .cat-listmc-action-container
                    a(href=href id=id_vis data-link class="lookup__button" name="view") mod
                    a(href=href id=id_can data-link class="lookup__button_del") elimina
                .cat-listmc-columns-container
                    -let currentRowData = values[r];
                    -let url="http://localhost:1337/"+currentRowData[4];
                    img(src=url)
                    each i in currentRowData
                        .div=i      